.footer__btn{
	background-color: $tangerine;
	color: $charcoal;
	font-weight: 700;
	padding: 0.5rem 0.3rem;
	border-radius: 8px;
	font-size: $x-small;

	&--hover:hover{
		background:$white;
		color: $sable;
	}


}