
.course__container{
  width: 90%;
	margin: 0 auto;
	padding: 5px ;
  margin-bottom: 10px;
  }

.course__body{
  width: 100%;
  margin: 0 auto;
}
 .course__title{
  text-align: center;
	margin: 10px 0;
  font-family: $ubuntu;
  font-weight: 700;
  font-size: $medium;
  line-height: 1.5;
  }
  .course__description{
    line-height: 1.5;
    font-size: $x-small;
    font-weight: 400;
  }

  .course__cont{
    text-align: center;
  }
.course__image{
	width: 100px;
  height: 100px;
  border-radius: 50% ;
	border: 2px solid black;
  text-align: center;


}
.course__color{
  
  background-color: $gray;
  color:$white;
  height: 20px;
  text-align: center;
  margin: 10px 0;
  font-family: $poppins;
  font-weight: 700;
  padding: 5px 0;
  animation-name: course-color;
  animation-duration: 5s;
}

@keyframes course-color {
  from {background-color: $gray;}
  to {background-color: $orange;}
}

.course__cont-img{
  text-align: center;
}

.course__image1{
height: 30vh;
@include respond-to('large'){
  height: 45vh;
}
}
.course__icon{
text-align: center;
}
.course__list a{
 text-decoration: none;
 font-family: $poppins;
 line-height: 1.5;
 font-size: $small;
}

.course__item{
margin-left: 10px;
}
a i {
	transition: all 0.3s linear;
}

a:hover i {
	transform: scale(1.5);
}
.course__facebook:hover {
	color: blue;
}

.course__twitter:hover {
	color: #00adb5;
}

.course__github:hover {
	color: red;
}

.course__cont:hover {
	animation: 1s prueba 1;
	
}

@keyframes prueba{
      0%{
      	opacity: 0;
      	transform: scale(0.3);
      }
      50%{
      	opacity: 1;
      	-transform: scale(1.1);
      }
      70%{
      	
      	transform: scale(0.9);
      }

	
}
