

.footer__input{
	padding: 8px;
	width: 60%;
	margin:  0 auto;
	margin-bottom: 5px;
	display: block;
	font-size: $x-small;
	border-radius: 6px;
	&--focus:focus{
		background: $tangerine;
		box-shadow: 0 0 0 0.25rem;
	}
	}

.footer__p{
	margin-bottom: 30px;
	
}

.footer__copy{
	margin: 20px 0 10px 0;
}
@media(min-width:768px){
	.footer{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}

.footer__item{
	display: flex;
	align-items: inherit;
	justify-content: center;
	justify-content:space-around;
	margin-left: 250px;

}
.footer__input{
	width: 200px;
	margin:  0 auto;
	display: block;
	margin-right: 5px;

}

.footer__copy{
	padding: 10px;
	font-weight: 400;
	display: flex;
	justify-content:center;
	align-items: center;
	
}
.footer__p{
	margin-bottom: 0;

}
.footer__form{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

}