.footer__input{
	padding: 10px;
	width: 60%;
	margin:  0 auto;
	margin-bottom: 10px;
	display: block;

	&--focus:focus{
		background: $tangerine;
		box-shadow: 0 0 0 0.25rem;

	}
.footer__copy{
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	font-family: $poppins;
	font-weight: 400;
	margin-bottom: 20px;
}
	}


@media(min-width:768px){
	.footer{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}

.footer__item{
	display: flex;
	align-items: center;
	justify-content:space-around;

}
.footer__input{
	padding: 10px;
	width: 200px;
	margin:  0 auto;
	display: block;
	margin-right: 5px;
}

.footer__copy{
	padding: 10px;
	font-family: $poppins;
	font-weight: 400;
	font-size: $x-small;
	display: flex;
	justify-content: space-around;
}
}