@keyframes translate {
	0% {
	  transform: translateX(150px);
	}
	100% {
	  transform: translateX(0);
	}
  }
  
  .label {
	animation: translate 2s linear infinite alternate;
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  .inner__nut,
  .external__nut{
	animation: rotate 2s linear infinite;
	transform-origin: 80% 80%;
  }
  .course__animation{
	  height: 230px;
  }

  @media(max-width:700px){
	.course__animation{
		height: 130px;
	   
	}
}