@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer__btn {
  background-color: #FFAF6D;
  color: #2E1503;
  font-weight: 700;
  padding: 0.7rem 0.3rem;
  border-radius: 8px;
  font-size: 12px;
}
.footer__btn--hover:hover {
  background: #ffffff;
  color: #060606;
}

.card__container {
  width: 90%;
  margin: 0 auto;
  border: 1.5px dotted #515151;
  padding: 5px;
  margin-bottom: 10px;
}
.card__container__body {
  width: 80%;
  margin: 0 auto;
}

.card__image {
  width: 100%;
  object-fit: cover;
}

.card__icon {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 5px 0;
}

.card__i, .card__p {
  padding-left: 5px;
}

.card__description {
  line-height: 1.5;
  font-size: 12px;
  font-weight: 400;
}

.card__h5 {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.card__title {
  margin: 10px 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.course__container {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 10px;
}

.course__body {
  width: 100%;
  margin: 0 auto;
}

.course__title {
  text-align: center;
  margin: 10px 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.course__description {
  line-height: 1.5;
  font-size: 12px;
  font-weight: 400;
}

.course__cont {
  text-align: center;
}

.course__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
}

.course__color {
  background-color: #515151;
  color: #ffffff;
  height: 20px;
  text-align: center;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 5px 0;
  animation-name: course-color;
  animation-duration: 5s;
}

@keyframes course-color {
  from {
    background-color: #515151;
  }
  to {
    background-color: #FFA500;
  }
}
.course__cont-img {
  text-align: center;
}

.course__image1 {
  height: 30vh;
  animation-duration: 4s;
  animation-name: animCourse;
}
@media (min-width: 992px) {
  .course__image1 {
    height: 45vh;
  }
}

@keyframes animCourse {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.course__image1:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.course__icon {
  text-align: center;
}

.course__list {
  List-style-type: circle;
  margin-left: 15px;
}

.course__list a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 14px;
}

.course__item {
  margin-left: 10px;
}

a i {
  transition: all 0.3s linear;
}

a:hover i {
  transform: scale(1.5);
}

.course__facebook:hover {
  color: blue;
}

.course__twitter:hover {
  color: #00adb5;
}

.course__github:hover {
  color: red;
}

.course__cont:hover {
  animation: 1s course__cont 1;
}

@keyframes course__cont {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
}
.footer__input {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}
.footer__input--focus:focus {
  background: #FFAF6D;
  box-shadow: 0 0 0 0.25rem;
}
.footer__input .footer__copy {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer__input {
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    display: block;
    margin-right: 5px;
  }

  .footer__copy {
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
  }
}
nav {
  width: 100%;
}

.nav {
  background: #000000;
  height: 60px;
  position: fixed;
  top: 0;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after {
  content: "";
  display: block;
  background: #ffffff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 1s;
}

.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.nav__img {
  color: white;
  text-align: center;
}

.nav__img:hover {
  color: #FFA500;
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
}

.nav__label, .nav__input {
  display: none;
}

@media (max-width: 700px) {
  .nav__label {
    display: block;
  }

  .nav__menu {
    position: fixed;
    top: 60px;
    bottom: 0;
    background: #FFAF6D;
    height: 200px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }

  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
  }
}
.nav__logo {
  height: 40px;
  animation-duration: 5s;
  animation-name: animacionLogo;
  animation-iteration-count: infinite;
}

@keyframes animacionLogo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotateY(360deg);
  }
}
.header {
  height: 32vh;
  width: 100%;
  overflow: hidden;
  margin-top: 60px;
  background-size: cover;
}
@media (min-width: 992px) {
  .header {
    height: 51vh;
    width: 40%;
    margin: 0 auto;
    margin-top: 3.75rem;
  }
}

.card {
  border: 2px solid black;
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
  margin-bottom: 10px;
}

.course {
  border: 2px solid black;
  width: 95%;
  padding: 20px 0;
  margin: 0 auto;
  margin-bottom: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 30px;
}

/*# sourceMappingURL=style.css.map */
