 nav{
	 width: 100%;
	
 }
 .nav{
	 background:$black;
	 height: 60px;
	 position: fixed;
	 top: 0;
 }

 .nav__container{
	 display: flex;
	 height: 100%;
	 width: 90%;
	 margin: 0 auto;
	 justify-content: space-between;
	 align-items: center;
	
	 
 }
 .nav__item{
	color: $white;
	text-decoration: none;
	font-family:$poppins;
	font-weight: 700;
	font-size: $x-small;
	--clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
 }

 .nav__item::after{
	 content: "";
	 display: block;
	 background: $white;
	 width: 90%;
	 margin-top: 3px;
	 height: 3px;
	 clip-path: var(--clippy);
	 transition: clip-path 1s;
 }
.nav__item:hover{
	--clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
 .nav__img{
	color: white;
	text-align: center;
 }
 .nav__img:hover{
	color: $orange;
 }
 .nav__menu{
	display: grid;
	grid-auto-flow: column;
	gap: 1.1em;

 }
 .nav__label, .nav__input{
	 display: none;
 }

 @media(max-width:700px){
	 .nav__label{
		 display: block;
		
	 }

.nav__menu{
	position: fixed;
	top: 60px;
	bottom: 0;
	background:$tangerine;
	height: 200px;
	width: 100%;
	left: 0;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	clip-path: circle(0 at center);
	transition:clip-path 1s ease-in-out;

}
.nav__input:checked + .nav__menu{
	clip-path: circle(100% at center) ;

}
 } 